/*Colors*/
/*Typography*/
/*Grid*/
/*Layout*/
@media only screen and (max-width: 600px) { img { max-width: 100% !important; }
  .content { display: block !important; }
  .content td { padding-left: 15px !important; padding-right: 15px !important; }
  .content_bordered-row { display: block !important; }
  .content_bordered-row td { display: block !important; width: auto !important; }
  .content_bordered-row img { width: 100% !important; }
  .content_title { font-size: 16px; margin: 0 0 5px; }
  .content_left, .content_right { padding-left: 15px !important; padding-right: 15px !important; padding-bottom: 20px !important; display: block !important; }
  .content_columns td { display: block !important; padding: 0 !important; }
  .footer { min-width: 100%; }
  .footer_top td { display: table-row !important; }
  .footer_bottom { padding: 0 !important; text-align: center; }
  .footer_bottom tr { display: block !important; }
  .footer_bottom td { display: block !important; }
  .footer_bottom td:first-child { padding-top: 50px !important; }
  .footer_bottom > tbody > tr > td { padding: 15px !important; }
  .footer_bottom-wrapper > tbody > tr > td { display: block !important; width: auto !important; }
  .footer_link { display: block !important; width: 100% !important; }
  .footer_link tbody, .footer_link tr { display: block; }
  .footer_link td { display: inline-block; }
  .footer_menu > td { padding: 0 20px !important; text-align: center !important; }
  .footer_lang-wrapper { text-align: center !important; margin: 20px auto 0 !important; }
  .footer_lang-wrapper td { padding: 0 3px !important; }
  .footer_logo { margin: 10px 0 0 !important; }
  .footer-menu { margin: 0 0 20px 20px; min-width: 250px; }
  h3 { font-size: 16px; }
  .header_top td { padding-left: 15px !important; padding-right: 0 !important; }
  .header_top td + td { padding-left: 0 !important; padding-right: 15px !important; }
  .header_top__big td { padding-top: 35px !important; }
  .header_top__big img:first-child { width: 165px !important; margin-bottom: 10px !important; }
  .header_img { width: 100% !important; }
  .header_platform { margin: 0 !important; width: 50px !important; }
  .button-wrapper td { display: block !important; max-width: 100%; padding-left: 10px !important; padding-right: 10px !important; }
  .button { font-size: 24px !important; }
  .caption td { padding: 10px 15px !important; }
  .social td { width: auto !important; }
  .social td:nth-child(2) { width: 280px !important; }
  .social tr:nth-child(3) td { width: auto !important; }
  .layout_content { width: 100% !important; max-width: 100% !important; min-width: 100% !important; }
  .price { margin: 25px 0 !important; text-align: center !important; }
  .product { margin: auto !important; }
  .product td { padding-left: 0 !important; padding-right: 0 !important; }
  .product .button { font-size: 16px !important; padding-bottom: 9px !important; }
  .product .button__small { width: auto !important; }
  .product__small { width: auto !important; margin: 0 15px 0 !important; }
  .products-wrapper > td { display: block !important; padding: 0 0 30px !important; }
  .products-wrapper__small > td { padding-bottom: 20px !important; }
  .news { margin: auto !important; width: 100% !important; }
  .news td { padding-left: 15px !important; padding-right: 15px !important; }
  .news .button { font-size: 16px !important; padding-bottom: 9px !important; }
  .news-wrapper > td { display: block !important; padding: 0 0 30px !important; } }
