/*Colors*/
/*Typography*/
/*Grid*/
/*Layout*/
@media only screen and (max-width: 600px) { img { max-width: 100% !important; }
  .content { display: block !important; }
  .content td { padding-left: 15px !important; padding-right: 15px !important; }
  .content_bordered-row { display: block !important; }
  .content_bordered-row td { display: block !important; width: auto !important; }
  .content_bordered-row img { width: 100% !important; }
  .content_title { font-size: 16px; margin: 0 0 5px; }
  .content_left, .content_right { padding-left: 15px !important; padding-right: 15px !important; padding-bottom: 20px !important; display: block !important; }
  .footer { min-width: 100%; }
  .footer_top td { display: table-row !important; }
  .footer_bottom { padding: 0 !important; text-align: center; }
  .footer_bottom tr { display: block !important; }
  .footer_bottom td { display: block !important; padding: 15px !important; width: auto !important; }
  .footer_link { display: block !important; margin: 0 0 25px !important; }
  .footer_menu td { padding: 0 20px !important; text-align: center !important; }
  .footer_lang-wrapper { display: block !important; text-align: centerk !important; }
  .footer_logo { margin: 0 0 35px !important; }
  .footer-menu { margin: 0 0 20px 20px; min-width: 250px; }
  .header_top td { padding-left: 15px !important; padding-right: 15px !important; }
  .header_top td + td { padding-left: 0 !important; }
  .header_top__big td { padding-top: 35px !important; }
  .header_top__big img:first-child { width: 165px !important; margin-bottom: 10px !important; }
  .header_img { width: 100% !important; }
  .header_platform { margin: 0 0 0 5px !important; max-height: 0 !important; width: 0; }
  .header_platform__mobile { max-height: inherit !important; vertical-align: -16px !important; width: auto !important; }
  .button { font-size: 24px !important; display: block !important; max-width: 100%; padding-left: 10px !important; padding-right: 10px !important; }
  .caption td { padding: 10px 15px !important; }
  .layout_content { width: 100% !important; }
  .price { margin: 0 25px !important; text-align: center !important; }
  .product { margin: auto !important; }
  .product td { padding-left: 0 !important; padding-right: 0 !important; }
  .product .button { font-size: 16px !important; padding-bottom: 9px !important; }
  .products-wrapper > td { display: block !important; padding: 0 !important; }
  .news { margin: auto !important; }
  .news td { padding-left: 0 !important; padding-right: 0 !important; }
  .news .button { font-size: 16px !important; padding-bottom: 9px !important; }
  .news-wrapper > td { display: block !important; padding: 0 !important; } }
