/*Colors*/

$text_color: #4d4d4d;
$main_color: #fff;
$minor_color: #999 ;
$footer_color: #666;
$caption_color: #47474d;
$link_color: #e11931;
$link-additional_color: #ffcc00;
$widget_color: #323c46;

$header_bg: #ff6600;
//$header_bg: #00b4b9;
//$header_bg: #b00201;
//$header_bg: #e11931;
//$header_bg: #8200ff;
$body_bg: #f2f2f2;
$footer_bg: #d9d9d9;
$content_bg: #fff;
$border_color: #ccc;

/*Typography*/
$font-family: Arial, Helvetica, sans-serif;
$font-family_font-family: Georgia, Tahoma, Verdana;

$font-size: 16px;
$small_font-size: 14px;
$heading-1_font-size: 48px;
$heading-1_font-size__mobile: 38px;
$heading-2_font-size: 24px;

/*Grid*/
$layout_width: 680px;
$layout_width__mobile: 292px;

$layout_margin: 10px;
$layout_margin__mobile: 14px;
$layout_indent: 50px;
$layout_indent__mobile: 15px;