.button {
    background: $header_bg;
    color: $main_color;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px 11px;
    white-space: nowrap;
    text-align: center;

    &__big {
        font-size: 24px;
        padding: 15px 60px 16px;
    }
}