.button-wrapper {
    margin: auto;
    width: 100%;

    tr td {
        background: $header_bg;
        padding: 10px 10px 10px 10px;;
        white-space: nowrap;
        text-align: center;
    }
    &__big {
        width: auto;

        tr td {
            padding: 15px 60px 16px;
        }
    }
}
.button {
    color: $main_color;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    .button-wrapper__big & {
        font-size: 24px;
    }
}