.caption {
    color: $caption_color;
    font-size: 12px;
    font-weight: 18px;
    text-align: center;

    td {
        padding: 10px $layout_indent;
    }
    a {
        color: $text_color;
    }
}