.content {
    
    td {
        background: $content_bg;

        &[colspan] {
            padding-left: $layout_indent;
            padding-right: $layout_indent;
        }
        
    }
    &_left {
        padding-left: $layout_indent;
        padding-right: 5px;
        padding-bottom: 30px;
    }
    &_right {
        padding-left: 5px;
        padding-right: $layout_indent;
        padding-bottom: 30px;
    }
    &_bordered-row {
        td {
            border-top: 1px solid $border_color;
            border-bottom: 1px solid $border_color;
            padding-bottom: 35px;
            width: 40%;
        }
        td + td {
            padding: 0;
            width: 60%;
        }
    }
    &_section {
        padding-bottom: $layout_indent;
        text-align: center;
    }
    &_title {
        font-size: 18px;
        margin: 0 0 10px;
    }
}