.header {
    td {
        padding: 0;
    }

    &_top {
        background: $header_bg;
    
        td {
            border: none;
            padding: 25px 50px;
            vertical-align: middle;
            width: 70%;

            & + td {
                text-align: right;
                width: 30%;
            }
        }
        img:first-child {
            vertical-align: -15px;
        }

        &__big {
            td {
                padding-top: 40px;
                padding-bottom: 35px;
                text-align: center;
            }
            img:first-child {
                vertical-align: middle;
                display: block;
                margin: 0 auto 13px;
            }
        }
    }

    &_link {
        color: $main_color;
        font-size: 12px;
        text-decoration: none;

        .header_top__big  & {
            font-weight: bold;
        }
    }
    &_platform {
        margin: 0 0 0 5px;
        vertical-align: -14px;
    }
}