.product {
    width: 280px;

    &__small {
        width: 180px;
    }

    td {
        text-align: center;
        background: $body_bg;
        padding: 0;
    }
    tr:nth-child(1) td {
        background: $content_bg;
        border-top: 1px solid $border_color;
        padding: 50px 0 0;
    }
    tr:nth-child(2) td {
        font-size: 0;
    }
    tr:nth-child(3) td {
        border-left: 1px solid $border_color;
        border-right: 1px solid $border_color;
    }
    tr:nth-child(4) td {
        border-left: 1px solid $header_bg;
        border-right: 1px solid $header_bg;
    }

    &_image {
        width: 100%;
    }
    &_title {
        color: $text_color;
        font-size: $heading-2_font-size;
        padding: 0 20px;
        text-transform: uppercase;
    }
    &_text {
        padding: 0 20px;
    }
    .button {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
        width: 260px;
    }
    .price {
        margin: 25px 20px 0;
    }
}

.products-wrapper {
    & > td {
        padding: 0 10px 0 $layout_indent;

        & + td {
            padding: 0 $layout_indent 0 10px; 
        }
    }
}