.footer {
    min-width: 100%;
    &_top {
        td {
            display: table-row !important;
        }
    }
    &_bottom {
        padding: 0 !important;
        text-align: center;

        tr {
            display: block !important;
        }
        td {
            display: block !important;
            padding: $layout_indent__mobile !important;
            width: auto !important;
        }
    }
    &_link {
        display: block !important;
        margin: 0 0 25px !important;
    }
    &_menu {
        td {
            padding: 0 20px !important;
            text-align: center !important;
        }
    }
    &_lang-wrapper {
        display: block !important;
        text-align: centerk !important;
    }
    &_logo {
        margin: 0 0 35px !important;
    }
}

.footer-menu {
    margin: 0 0 20px 20px;
    min-width: 250px;
}