.footer {
    min-width: 100%;

    &_top {
        td {
            display: table-row !important;
        }
    }
    &_bottom {
        padding: 0 !important;
        text-align: center;

        tr {
            display: block !important;
        }
        td {
            display: block !important;
            
            &:first-child {
                padding-top: 50px !important;
            }
        }
        & > tbody > tr > td {
            padding: $layout_indent__mobile !important;
        }
    }
    &_bottom-wrapper {
        & > tbody > tr > td {
            display: block !important;
            width: auto !important;
        }
    }
    &_link {
        display: block !important;
        width: 100% !important;

        tbody, tr {
            display: block;
        }
        td {
            display: inline-block;
        }
    }
    &_menu {
        & > td {
            padding: 0 20px !important;
            text-align: center !important;
        }
    }
    &_lang-wrapper {
        text-align: center !important;
        margin: 20px auto 0 !important;

        td {
            padding: 0 3px !important;
        }
    }
    &_logo {
        margin: 10px 0 0 !important;
    }
}

.footer-menu {
    margin: 0 0 20px 20px;
    min-width: 250px;
}