.header {
    &_top {
        td {
            padding-left: $layout_indent__mobile !important;
            padding-right: 0 !important;

            & + td {
                padding-left: 0 !important; 
                padding-right: $layout_indent__mobile !important;
            }
            img:first-child {
                //width: 110px !important;
            }
        }

        &__big {
            td {
                padding-top: 35px !important;
            }
            img:first-child {
                width: 165px !important;
                margin-bottom: 10px !important;
            }
        }
    }
    &_img {
        width:  100% !important;
    }
    &_platform {
        margin: 0 !important;
        width: 50px !important;
    }
}