.header {
    &_top {
        td {
            padding-left: $layout_indent__mobile !important;
            padding-right: $layout_indent__mobile !important;

            & + td {
                padding-left: 0 !important; 
            }
        }

        &__big {
            td {
                padding-top: 35px !important;
            }
            img:first-child {
                width: 165px !important;
                margin-bottom: 10px !important;
            }
        }
    }
    &_img {
        width:  100% !important;
    }
    &_platform {
        margin: 0 0 0 5px !important;
        max-height: 0 !important;
        width: 0;
        
        &__mobile {
            max-height: inherit !important;
            vertical-align: -16px !important;
            width: auto !important;
        }
    }
}