.news {
    margin: auto !important;
    width: 100% !important;

    td {
        padding-left: $layout_indent__mobile !important;
        padding-right: $layout_indent__mobile !important;
    }
    .button {
        font-size: 16px !important;
        padding-bottom: 9px !important;
    }
}

.news-wrapper {
    & > td {
        display: block !important;
        padding: 0 0 30px !important;
    }
}