.product {
    margin: auto !important;

    td {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .button {
        font-size: 16px !important;
        padding-bottom: 9px !important;

        &__small {
            width: auto !important;
        }
    }
    &__small {
        width: auto !important;
        margin: 0 $layout_indent__mobile 0 !important;

    }
}

.products-wrapper {
    & > td {
        display: block !important;
        padding: 0 0 30px !important;
    }
    &__small > td {
        padding-bottom: 20px !important;
    }
}