.social {
    td {
        width: auto !important;
    }    
    td:nth-child(2) {
        width: 168px !important;
        //width: 280px !important;
    }
    tr:nth-child(3) {
        td {
            width: auto !important;
        }
    }
}