<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/style-mobile.css" data-embed>
    <title>Email</title>
</head>
<body>
    <table class="layout">
        <tr>
            <td>
                <table class="layout_content" width="680" align="center">
                    <tr>
                        <td>
                            <table class="header">
                                <tr class="header_top header_top__big">
                                    <td colspan="2">
                                        <img src="http://muscles.by/post/logo-wotb-big.png" alt="">
                                        <div>
                                            <a class="header_link" href="#">View in browser</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <img class="header_img" width="680" src="http://muscles.by/post/header-img.jpg" alt="">
                                    </td>
                                </tr>
                            </table>
                            <table class="content">
                                <tr>
                                    <td colspan="2">
                                        <h2>World famous free-to-play hit rolled out to PlayStation 4 on January 19. </h2>
                                        <p>A superb effort by Chicago-Baltimore production team was backed by Online Presence folks, as always. </p>
                                        <img class="content_image" width="580" src="http://muscles.by/post/tanks.jpg" alt="">
                                        <ul>
                                            <li>A small bullet with short info; Another small bullet with some info</li>
                                            <li>Another small bullet with some info; Another small bullet with some info</li>
                                            <li>Use it to make the text interesting. Another small bullet with some info</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="content_bordered-cell">
                                        <h2>World famous free-to-play hit rolled out to PlayStation 4 on January 19. </h2>
                                        <a href="#">
                                            <img class="content_image" width="580" src="http://muscles.by/post/video.jpg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content_section" colspan="2">
                                        <table class="button-wrapper button-wrapper__big">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="button" href="#">learn more</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="news-wrapper">
                                    <td align="right"  class="content_section content_section__noindent content_bordered-cell">
                                        <table class="news">
                                            <tr>
                                                <td>
                                                    <img class="news_image" width="280" src="http://muscles.by/post/news-1.jpg" alt="">
                                                    <h3 class="news_title content_title__big">Red Team</h3>
                                                    <p class="news_text">A superb effort by Chicago-Baltimore production team was backed by Online Presence folks, as always. Breathing life into a game and providing it with vital components is never easy.</p>
                                                    <table class="button-wrapper">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a class="button" href="#">play for Red team</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td  class="content_section content_section__noindent content_bordered-cell">
                                        <table class="news">
                                            <tr>
                                                <td>
                                                    <img class="news_image" width="280" src="http://muscles.by/post/news-2.jpg" alt="">
                                                    <h3 class="news_title content_title__big">Blue Team</h3>
                                                    <p class="news_text">A superb effort by Chicago-Baltimore production team was backed by Online Presence folks, as always. Breathing life into a game and providing it with vital components is never easy.</p>
                                                    <table class="button-wrapper">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a class="button" href="#">play for Red team</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="social">
                                <tr class="social_white social_top">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="social_white"></td>
                                    <td rowspan="2" class="social_wrapper">
                                        <a href="#" class="social_link social_link__tw">
                                            <img class="social_link-icon" src="http://muscles.by/post/social/twitter.png" alt="">
                                        </a>
                                        <a href="#" class="social_link social_link__fb">
                                            <img class="social_link-icon" src="http://muscles.by/post/social/fb.png" alt="">
                                        </a>
                                        <a href="#" class="social_link social_link__yt">
                                            <img class="social_link-icon" src="http://muscles.by/post/social/youtube.png" alt="">
                                        </a>
                                    </td>
                                    <td class="social_white"></td>
                                </tr>
                                <tr class="social_gray">
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="social_gray">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                            <table class="footer">
                                <tr class="footer_menu"> 
                                    <td>
                                        <table class="footer_link" align="center">
                                            <tr>
                                                <td>
                                                    <img class="footer_link-icon" src="http://muscles.by/post/service.png" alt="">
                                                </td>
                                                <td>
                                                    <a href="#">Customer Service</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="footer_link" align="center">
                                            <tr>
                                                <td>
                                                    <img class="footer_link-icon" src="http://muscles.by/post/eula.png" alt="">
                                                </td>
                                                <td>
                                                    <a href="#">EULA</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="footer_link" align="center">
                                            <tr>
                                                <td>
                                                    <img class="footer_link-icon" src="http://muscles.by/post/policy.png" alt="">
                                                </td>
                                                <td>
                                                    <a href="#">Privacy Policy</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="footer_link" align="center">
                                            <tr>
                                                <td>
                                                    <img class="footer_link-icon" src="http://muscles.by/post/refer.png" alt="">
                                                </td>
                                                <td>
                                                    <a href="#">Refer a Friend</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>
                                        <table class="footer_bottom">
                                            <tr>
                                                <td>
                                                    <table class="footer_bottom-wrapper">
                                                        <tr>
                                                            <td>
                                                                <img class="footer_logo" src="http://muscles.by/post/wg.png" alt="">
                                                            </td>
                                                            <td>
                                                                <table class="footer_lang-wrapper">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="#" class="footer_lang">
                                                                                <img class="footer_link-icon" src="http://muscles.by/post/lang/en.jpg" alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="footer_lang">
                                                                                <img class="footer_link-icon" src="http://muscles.by/post/lang/de.jpg" alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="footer_lang">
                                                                                <img class="footer_link-icon" src="http://muscles.by/post/lang/fr.jpg" alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="footer_lang">
                                                                                <img class="footer_link-icon" src="http://muscles.by/post/lang/cs.jpg" alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="footer_lang">
                                                                                <img class="footer_link-icon" src="http://muscles.by/post/lang/sp.jpg" alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="footer_lang">
                                                                                <img class="footer_link-icon" src="http://muscles.by/post/lang/tr.jpg" alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="footer_lang">
                                                                                <img class="footer_link-icon" src="http://muscles.by/post/lang/pl.jpg" alt="">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="footer_copyright">All images, content, and text © 2009-2015 Wargaming Group Limited. All rights reserved.© Wargaming America Inc., PO Box 8250 Emeryville, CA 94662 USA</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="caption">
                                <tr>
                                    <td>
                                        <p>If you no longer wish to receive our newsletters, you can <a href="#">unsubscribe</a>.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>